<body>
  <!-- main banner -->
  <div class="main-top" id="home">
    <!-- header -->
    <header>
      <div class="container-fluid">
        <div
          class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3"
        >
          <!-- logo -->
          <div id="logo">
            <h1>
              <a href="index.html"
                ><span class="fa fa-cutlery mr-2"></span>Momies Food</a
              >
            </h1>
          </div>
          <!-- //logo -->
          <!-- nav -->
          <div class="nav_w3ls">
            <nav>
              <label for="drop" class="toggle">Menu</label>
              <input type="checkbox" id="drop" />
              <ul class="menu">
                <li class="menu-li active" (click)="move('home')">
                  <a>Home</a>
                </li>
                <li class="menu-li" (click)="move('about-us')">
                  <a>About Us</a>
                </li>
                <li class="menu-li" (click)="move('benefits')">
                  <a>Benefits</a>
                </li>
                <li class="menu-li" (click)="move('how-it-works')">
                  <a>How it works</a>
                </li>
                <li class="menu-li" (click)="move('contact-us')">
                  <a>Contact Us</a>
                </li>
                <li><a>Register</a></li>
              </ul>
            </nav>
          </div>
          <!-- //nav -->
        </div>
      </div>
    </header>
    <!-- //header -->
  </div>
  <!-- //main banner -->
  <section id="home">
    <div class="banner_w3lspvt position-relative">
      <div class="container">
        <div class="d-md-flex">
          <div class="w3ls_banner_txt">
            <h3 class="w3ls_pvt-title">Momies<span> Food</span></h3>
            <h4 style="font-size:1.2rem;font-weight: 600;">
              Mummy Bhook Lagi Hai!
            </h4>
            <p class="text-sty-banner">
              Are you passionate in cooking ?<br />
              Join our first <strong>Mother Entrepreneur</strong> community who
              cook with passion and get recognition.
            </p>
            <a href="#" class="btn button-style mt-md-5 mt-4">Join Now</a>
          </div>
          <div class="banner-img">
            <img
              src="../assets/images/banner_new.png"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <!-- animations effects -->
      <div class="icon-effects-w3l">
        <img
          src="../assets/images/shape1.png"
          alt=""
          class="img-fluid shape-wthree shape-w3-one"
        />
        <img
          src="../assets/images/shape2.png"
          alt=""
          class="img-fluid shape-wthree shape-w3-two"
        />
        <img
          src="../assets/images/shape3.png"
          alt=""
          class="img-fluid shape-wthree shape-w3-three"
        />
        <img
          src="../assets/images/shape5.png"
          alt=""
          class="img-fluid shape-wthree shape-w3-four"
        />
        <img
          src="../assets/images/shape4.png"
          alt=""
          class="img-fluid shape-wthree shape-w3-five"
        />
        <img
          src="../assets/images/shape6.png"
          alt=""
          class="img-fluid shape-wthree shape-w3-six"
        />
      </div>
      <!-- //animations effects -->
    </div>
  </section>
  <!-- //main banner -->
  <!-- what we do section -->
  <section id="about-us" style="background: #efefef">
    <div class="about-inner py-5">
      <div class="container pb-xl-5 pb-lg-3">
        <div class="row py-xl-4">
          <div class="col-lg-6 welcome-right text-center mt-lg-0 mt-5">
            <img
              src="../assets/images/about-us.jpg"
              alt=""
              class="img-fluid-about"
            />
          </div>
          <div class="col-lg-6 about-right-faq pr-5">
            <h3>About Us</h3>
            <h4 class="mt-2 mb-3" style="font-weight: 600;color: #f06292">
              Ap ka khana, App ki Pehchan
            </h4>
            <h5>Being a part of this revolutionary Women Entrepreneurship.</h5>
            <br />
            <span style="font-weight: bold;">Who is Momies food ?</span>
            <p>
              Providing platform where women of our society can step into
              professional's world.
            </p>
            <p class="mt-2">
              Be part of our Momies family , let us be your support system, join
              us to be woman Of your dream.
            </p>
          </div>
        </div>
        <!-- Part two -->
        <div class="row py-xl-4">
          <div
            class="col-lg-4 about-right-faq pr-5"
            style="display: flex;margin:auto;"
          >
            <h3 class="mt-2 mb-3" style="font-weight: 600;color: #f06292">
              Ek platform jo apko de pehchan!
            </h3>
          </div>
          <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
            <img
              src="../assets/images/pehchan.jpg"
              alt=""
              class="img-fluid-about"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Benefits Section -->

  <section id="benefits">
    <div class="about-inner py-5">
      <div class="container pb-xl-5 pb-lg-3">
        <div class="row py-xl-4">
          <div class="col-lg-6 welcome-right text-center mt-lg-0 mt-5">
            <img src="../assets/images/benefits.jpg" alt="" class="img-fluid" />
          </div>
          <div class="col-lg-6 about-right-faq pr-5">
            <h3 style="color: #f06292">Why Momies Food- Benefits</h3>
            <ul class="benefits">
              <li>Work Freedom (Part Time, Full Time, Occasionaly)</li>
              <li>100% Free Portal (No cost to join portal)</li>

              <li>
                Earn from home (Just give your best & we'll bring customer for
                you.)
              </li>
              <li>Be recognized by everyone (Quaterly meetups with media)</li>
              <li>
                Just cook , we'll devliver the food and you'll get earnings.
              </li>

              <li>24*7 Customer Support</li>
              <li>Hussle Free Platform</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- How it works -->

  <section id="how-it-works">
    <div class="what bg-li py-5" id="what">
      <div class="container py-xl-5 py-lg-3">
        <h2 style="text-align: center;color:#f06292">
          <strong>JOIN <span>MOMIES</span>FOOD!</strong>
        </h2>
        <div class="row about-bottom-w3l text-center mt-4">
          <div class="col-lg-4 about-grid">
            <div class="about-grid-main">
              <img src="../assets/images/women.jpg" alt="" class="img-fluid" />
              <h4 class="my-4">Entrepreneurship</h4>
              <p>
                Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat
                cupidatat non proident
              </p>
              <a href="about.html" class="button-w3ls btn mt-sm-5 mt-4"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-lg-4 about-grid my-lg-0 my-5">
            <div class="about-grid-main">
              <img src="../assets/images/money.jpg" alt="" class="img-fluid" />
              <h4 class="my-4">Earn Money</h4>
              <p>
                Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat
                cupidatat non proident
              </p>
              <a href="about.html" class="button-w3ls btn mt-sm-5 mt-4"
                >Read More</a
              >
            </div>
          </div>
          <div class="col-lg-4 about-grid">
            <div class="about-grid-main">
              <img src="../assets/images/money.jpg" alt="" class="img-fluid" />
              <h4 class="my-4">100% Free</h4>
              <p>
                Ut enim ad minim veniam, quis nostrud.Excepteur sint occaecat
                cupidatat non proident
              </p>
              <a href="about.html" class="button-w3ls btn mt-sm-5 mt-4"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //what we do section -->

  <!-- middle -->

  <!-- //middle -->

  <!-- services -->
  <!-- <section class="banner-bottom-momiesfood bg-li py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
      <h3 class="tittle text-center font-weight-bold">Our Services</h3>
      <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation
      </p>
      <div class="row pt-lg-4">
        <div class="col-lg-4 about-in text-center">
          <div class="card">
            <div class="card-body">
              <div class="bg-clr-w3l">
                <span class="fa fa-line-chart"></span>
              </div>
              <h5 class="card-title mt-4 mb-3">Business Growth</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
                tempor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 about-in text-center my-lg-0 my-3">
          <div class="card active">
            <div class="card-body">
              <div class="bg-clr-w3l">
                <span class="fa fa-usd"></span>
              </div>
              <h5 class="card-title mt-4 mb-3">Financial Planning</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
                tempor.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 about-in text-center">
          <div class="card">
            <div class="card-body">
              <div class="bg-clr-w3l">
                <span class="fa fa-lightbulb-o"></span>
              </div>
              <h5 class="card-title mt-4 mb-3">Business Services</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit
                tempor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- //services -->

  <!-- stats -->

  <!-- //stats -->

  <!-- footer -->
  <footer class="bg-li py-5">
    <div class="container py-xl-5 py-lg-3">
      <!-- subscribe -->
      <div class="subscribe mx-auto">
        <div class="icon-effect-w3">
          <span class="fa fa-envelope"></span>
        </div>
        <h2 class="tittle text-center font-weight-bold">Stay Updated!</h2>
        <p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation
        </p>
        <form action="#" method="post" class="subscribe-wthree pt-2">
          <div class="d-flex subscribe-wthree-field">
            <input
              class="form-control"
              type="email"
              placeholder="Enter your email..."
              name="email"
              required=""
            />
            <button class="btn form-control w-50" type="submit">
              Subscribe
            </button>
          </div>
        </form>
      </div>
      <!-- //subscribe -->
    </div>
  </footer>
  <!-- //footer -->
  <!-- copyright bottom -->
  <div class="copy-bottom bg-li py-4 border-top">
    <div class="container-fluid">
      <div class="d-md-flex px-md-3 position-relative text-center">
        <!-- footer social icons -->
        <div class="social-icons-footer mb-md-0 mb-3">
          <ul class="list-unstyled">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-instagram"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- //footer social icons -->
        <!-- copyright -->
        <div class="copy_right mx-md-auto mb-md-0 mb-3">
          <p class="text-bl let">
            © 2019 Momies Food. All rights reserved | Design by
            <a href="http://momiesfood.com/" target="_blank">Momiesfood</a>
          </p>
        </div>
        <!-- //copyright -->
        <!-- move top icon -->
        <a href="#home" class="move-top text-center">
          <span class="fa fa-level-up" aria-hidden="true"></span>
        </a>
        <!-- //move top icon -->
      </div>
    </div>
  </div>
  <!-- //copyright bottom -->
</body>
